*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    overflow: hidden;
}

.app
{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 50px 0;
    background-color: #fff5f7;
    .boards
    {
    display: flex;
    width: 100%;
        &__item
        {
            display: flex;
            flex-direction: column;
            align-self: baseline;
            max-width: 250px;
            width: 100%;
            background-color: rgba(248, 165, 210, 0.5);
            margin: 0 15px;
            padding: 10px;
            transition: .3s all ease;
            border-radius: 3px;
            .title
            {
                padding: 5px;
                width: 90%;
                &:focus
                {
                    outline: 1px solid rgba(168,168,168, .45);
                }
            }
            .list
            {
                min-height: 40px;
                &__item
                {
                    background-color: #fefefe;
                    border-radius: 3px;
                    padding: 10px;
                    text-align: center;
                    margin: 4px 0;
                    cursor: pointer;
                    font-size: 400px;
                    font-size: 14px;
                    outline: none;
                    border: none;
                }
            }
            .form
            {
                border-radius: 3px;
                margin-top: auto;
                display: none;
                .textarea
                {
                    resize: none;
                    height: 60px;
                    border-radius: 3px;
                    border: none;
                    background: #fefefe;
                    padding: 10px;
                    width: 100%;
                    &:focus
                    {
                        outline: none;
                    }
                }
                .buttons
                {
                    display: flex;
                    .add__item-btn
                    {
                        background: rgb(135, 135, 220);
                        border: none;
                        height: 35px;
                        cursor: pointer;
                        color: #fefefe;
                        border-radius: 3px;
                        justify-content: center;
                        align-items: center;
                        margin-top: 5px;
                        margin-right: 10px;
                        width: 100%;
                    }
                    .cancel__item-btn
                    {
                        padding: 0 10px;
                        background: rgb(232, 59, 59);
                        border: none;
                        height: 35px;
                        cursor: pointer;
                        color: #fefefe;
                        border-radius: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 75px;
                        margin-top: 5px;
                        margin-left: auto;
                        flex-shrink: 0;
                    }
                }
            }
            .add__btn
            {
                height: 30px;
                background: gray;
                border-radius: 3px;
                margin-top: 5px;
                display: flex;
                font-size: 12px;
                align-items: center;
                padding-left: 10px;
                color: #fefefe;
                cursor: pointer;
                span
                {
                    font-size: 20px;
                    margin-right: 10px;
                    color: #fefefe;
                }
            }
        }
    }
    .button
    {
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(135, 135, 220);
        border: none;
        width: 150px;
        cursor: pointer;
        position: absolute;
        bottom: 50%;
        left: 50%;
        top: 90%;
        transform: translate(-50%);
        color: #fefefe;
        border-radius: 3px;
        font-size: 14px;
    }
}