* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto';
  overflow: hidden;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 50px 0;
  background-color: #fff5f7;
}

.app .boards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.app .boards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  max-width: 250px;
  width: 100%;
  background-color: rgba(248, 165, 210, 0.5);
  margin: 0 15px;
  padding: 10px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  border-radius: 3px;
}

.app .boards__item .title {
  padding: 5px;
  width: 90%;
}

.app .boards__item .title:focus {
  outline: 1px solid rgba(168, 168, 168, 0.45);
}

.app .boards__item .list {
  min-height: 40px;
}

.app .boards__item .list__item {
  background-color: #fefefe;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  margin: 4px 0;
  cursor: pointer;
  font-size: 400px;
  font-size: 14px;
  outline: none;
  border: none;
}

.app .boards__item .form {
  border-radius: 3px;
  margin-top: auto;
  display: none;
}

.app .boards__item .form .textarea {
  resize: none;
  height: 60px;
  border-radius: 3px;
  border: none;
  background: #fefefe;
  padding: 10px;
  width: 100%;
}

.app .boards__item .form .textarea:focus {
  outline: none;
}

.app .boards__item .form .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app .boards__item .form .buttons .add__item-btn {
  background: #8787dc;
  border: none;
  height: 35px;
  cursor: pointer;
  color: #fefefe;
  border-radius: 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  margin-right: 10px;
  width: 100%;
}

.app .boards__item .form .buttons .cancel__item-btn {
  padding: 0 10px;
  background: #e83b3b;
  border: none;
  height: 35px;
  cursor: pointer;
  color: #fefefe;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  margin-top: 5px;
  margin-left: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.app .boards__item .add__btn {
  height: 30px;
  background: gray;
  border-radius: 3px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  color: #fefefe;
  cursor: pointer;
}

.app .boards__item .add__btn span {
  font-size: 20px;
  margin-right: 10px;
  color: #fefefe;
}

.app .button {
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #8787dc;
  border: none;
  width: 150px;
  cursor: pointer;
  position: absolute;
  bottom: 50%;
  left: 50%;
  top: 90%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: #fefefe;
  border-radius: 3px;
  font-size: 14px;
}
/*# sourceMappingURL=mainCSS.css.map */